%h1
  Articles
  %small= link_to('New', new_article_path)


%a{ href: "#", onclick: "paintIt(this, 'red', 'white')" } Paint it red

%div
  %table{ border: "1"}
    %tr
      %th Title
      %th>Description

    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.description
        %td= link_to('Show', article_path(article))
